*{
    padding: 0px;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
    color: white;
    background-color: black;

}
.contain{
    margin-top: 40px;
    display: grid;
    place-items: center;
}
h1{
    padding-bottom:40px;
    text-transform: uppercase;
}



span{
    font-weight: bold;
}
img{
    background-color: white;
    padding: 13px;
    border-radius: 50%;
    transition: all 0.1s ease-in-out;
}
.info{
    margin-top: 12px;
    display: grid;
    place-items: center;
}


table, th, td {
    border-collapse: collapse;
  }
  table{
    display: grid;
    width: 164px;
    place-content: center;
    margin-left: -50px;
  }
